<div class="top-section-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="inner-addon left-addon">
          <i style="color:white;" class="fa fa-diamond"></i>
          <input type="text" class="form-control  input-custom top" ng-model="vm.categoria">
        </div>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-custom top" ng-click="vm.agregar()">Agregar</button>
      </div>
    </div>
  </div>
</div>
<div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3 class="gris">Categorías</h3>
          <div class="row">
            <div class="col-md-6">
              <div ng-repeat="categoria in vm.categorias | filter:buscar | orderBy:'nombre'">
                <h4><i class="fa fa-diamond"></i> {{categoria.nombre}}</h4>
              </div>
            </div>
            <div class="col-md-6">

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
